/* 相同重复样式 */
/* 版心 */
.wrapper {
    width: 1240px;
    margin: 0 auto;
}

/* 快捷导航 */
.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    height: 52px;
    text-align: center;
    line-height: 52px;
}

.shortcut .wrapper ul {
    display: flex;
    justify-content: flex-end;
}

.shortcut .wrapper a {
    font-size: 14px;
    color: #dcdcdc;
    padding: 0 16px;
    border-right: 1px solid #666;
}

.shortcut .wrapper ul li:last-child a {
    border: 0;
}

.shortcut .wrapper a span {
    display: inline-block;
    margin-right: 8px;
    width: 11px;
    height: 16px;
    background: url(../images/sprites.png) -160px -70px;
    vertical-align: middle;
}

/* 头部 */
.header {
    display: flex;
    margin: 30px auto;
    height: 88px;
    line-height: 88px;
}

.header .logo {
    width: 200px;
    height: 88px;
    background: url(../images/logo.png) no-repeat;
}

.header .nav ul {
    display: flex;
    margin-left: 10px;
    height: 88px;

}

.header .nav li {
    padding: 0 23px;
}

.header .nav li a {
    display: inline-block;
    height: 54px;
    line-height: 54px;
}

.header .nav li a:hover {
    color: #5eb69c;
    border-bottom: 2px solid #5eb69c;
}

.search {
    position: relative;
}

.search input {
    margin-left: 54px;
    height: 30px;
    width: 170px;
    font-size: 16px;
    border-bottom: 2px solid #f4f4f4;
    border-radius: 3px;
    padding-left: 28px;
}

.search span {
    position: absolute;
    display: inline-block;
    top: 36px;
    left: 58px;
    width: 22px;
    height: 20px;
    background: url(../images/sprites.png) no-repeat -80px -70px;
    vertical-align: middle;
}

.car {
    position: relative;
    top: 36px;
    left: 48px;
    width: 24px;
    height: 24px;
    background: url(../images/sprites.png) no-repeat -120px -70px;
    vertical-align: middle;
}

.car span {
    position: absolute;
    top: -7px;
    left: 15px;
    width: 20px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background-color: #e26237;
    border-radius: 8px;
    font-size: 13px;
    color: #fff;
}

/* 版权区域 */
.footer {
    height: 581.5px;
    background-color: #f5f5f5;
}

.footer .mod-copyright ul {
    display: flex;
    justify-content: space-around;
    height: 177px;
    line-height: 177px;
    border-bottom: 2px solid #e8e8e8;
}

.footer .mod-copyright ul li {
    font-size: 28px;
}

.footer .mod-copyright ul li #price {
    display: inline-block;
    width: 58px;
    height: 58px;
    background: url(../images/sprite.png) no-repeat 0px 0px;
    vertical-align: middle;
    margin-right: 20px;
}

.footer .mod-copyright ul li #speed {
    display: inline-block;
    width: 58px;
    height: 58px;
    background: url(../images/sprite.png) no-repeat 0px -58px;
    vertical-align: middle;
    margin-right: 20px;
}

.footer .mod-copyright ul li #fresh {
    display: inline-block;
    width: 58px;
    height: 58px;
    background: url(../images/sprite.png) no-repeat 0px -116px;
    vertical-align: middle;
    margin-right: 20px;
}

.footer .mod-copyright ul li #after {
    display: inline-block;
    width: 58px;
    height: 58px;
    background: url(../images/sprite.png) no-repeat 0px -232px;
    vertical-align: middle;
    margin-right: 20px;
}

.footer .bottom .mod-service dl {
    float: left;
    margin-right: 85px;
    margin-top: 62px;
}

.footer .bottom .mod-service dl dt {
    font-size: 18px;
    color: #333;
    margin-bottom: 27px;
}

.footer .bottom .mod-service dl dd {
    position: relative;
    font-size: 16px;
    color: #969696;
    margin: 10.5px 0;
}

.footer .bottom .mod-service dl dd span {
    position: absolute;
    top: 5px;
    left: 68px;
    width: 16px;
    height: 16px;
    background: url(../images/客服.png) no-repeat;
    vertical-align: middle;
}

.footer .mod-service .left,
.footer .mod-service .right {
    display: inline-block;
    margin-top: 62px;
    color: #969696;
    text-align: center;
}

.footer .mod-service .left {
    margin-right: 48px;
}

.footer .bottom .mod-service span {
    display: block;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
}

.footer .bottom .mod-service .left span {
    background: url(../images/wechat.png) no-repeat;
}

.footer .bottom .mod-service .right span {
    background: url(../images/app.png) no-repeat;
}

.footer .bottom .mod-help {
    margin-top: 100.5px;
}

.footer .bottom .mod-help ul {
    display: flex;
    justify-content: center;
}

.footer .bottom .mod-help ul li a {
    color: #a1a1a1;
    padding: 0 12px;
    border-right: 1px solid #a1a1a1;
}

.footer .bottom .mod-help ul li:last-child a {
    border: 0;
}

.footer .bottom .mod-help p {
    text-align: center;
    margin-top: 15px;
    color: #a1a1a1;
}

.body .top {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 30px 0;
}

.body .top .left {
    display: flex;
}

.body .top .left ul {
    display: flex;
    color: #a1a1a1;
    margin-left: 35px;
}

.body .top .left ul li {
    padding-top: 19px;
    margin-right: 5px;
}

.body .top .right {
    color: #a1a1a1;
    margin-top: 9.5px;
}

.body .top .right span {
    display: inline-block;
    width: 7px;
    height: 16px;
    margin-left: 10px;
    background: url(../images/sprites.png) no-repeat 0 -109px;
    vertical-align: middle;
}